<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.harish.hk185080.chatterbox">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-sdk
        android:minSdkVersion="19" android:targetSdkVersion="33" />
    <application
        android:name=".ChatterBox"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_call_white" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <service android:name=".FirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activities.home.MainActivity"
            android:exported="true"
            android:launchMode = "singleTop">
            <intent-filter>
                <action android:name="HANDLE_REQUEST" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="HANDLE_NOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.login.LoginActivity"
            android:launchMode = "singleTop"/>
        <activity android:name=".activities.register.RegisterWithDetailsActivity"
            android:launchMode = "singleTop"/>
        <activity
            android:name=".activities.welcome.WelcomeActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode = "singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.register.RegisterActivity"
            android:parentActivityName=".activities.login.LoginActivity"
            android:launchMode = "singleTop"/>
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".activities.home.MainActivity"
            android:launchMode = "singleTop"/>
        <activity
            android:name=".StatusActivity"
            android:parentActivityName=".SettingsActivity"
            android:launchMode = "singleTop"/>
        <activity
            android:name=".UsersActivity"
            android:parentActivityName=".activities.home.MainActivity"
            android:launchMode = "singleTop"/>
        <activity android:name=".ProfileActivity"
            android:launchMode = "singleTop"/>
        <activity
            android:name=".ChatActivity"
            android:parentActivityName=".activities.home.MainActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:launchMode = "singleTop"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="835d54a4706563d782475ef15c5a5e0c62751415" />

        <activity
            android:name=".AccountNameActivity"
            android:parentActivityName=".SettingsActivity"
            android:launchMode = "singleTop"/>
        <activity android:name=".ChatListActivity"
            android:launchMode = "singleTop"/>
        <activity android:name=".MaterialProfileActivity"
            android:launchMode = "singleTop"/>
        <activity android:name=".MaterialSettingsActivity"
            android:launchMode = "singleTop"/>
        <activity
            android:name=".ChatOpenActivity"
            android:parentActivityName=".activities.home.MainActivity"
            android:launchMode="singleInstance"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.harish.hk185080.chatterbox.activities.home.MainActivity" />
        </activity>
        <activity
            android:name=".Request_Activity"
            android:parentActivityName=".activities.home.MainActivity"
            android:launchMode = "singleTop"/>

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.harish.hk185080.chatterbox.activities.home.MainActivity" />
        <activity
            android:name=".SettingsImageActivity"
            android:parentActivityName=".SettingsActivity"
            android:launchMode = "singleTop"/>
        <activity android:name=".ProfileImageActivity"
            android:launchMode = "singleTop"/>
        <activity android:name=".AboutActivity"
            android:launchMode = "singleTop"/>
        <activity android:name=".PrivacyPolicyActivity"
            android:launchMode = "singleTop"/>
        <activity
            android:name=".NewSettingsActivty"
            android:label="@string/title_activity_new_settings_activty"
            android:theme="@style/SettingsTheme"
            android:launchMode = "singleTop"/>
        <activity android:name=".SentRequestActivity"
            android:launchMode = "singleTop"/>
        <activity android:name=".ChangePasswordActivity"
            android:launchMode = "singleTop"/>
        <activity android:name=".BlockedListActivity"
            android:launchMode = "singleTop"/>
        <activity android:name=".UploadImageActivity"
            android:launchMode = "singleTop"/>
        <activity android:name=".NotificationsActivity"
            android:launchMode = "singleTop"/>
        <activity android:name=".EditProfileActivity"
            android:launchMode = "singleTop"/>
        <activity android:name=".CreateGroupActivity"
            android:launchMode = "singleTop"/>
        <activity android:name=".PopularUsersActivity"
            android:launchMode = "singleTop"/>
    </application>

</manifest>