<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.harish.hk185080.chatterbox">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".ChatterBox"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_call_white" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <service android:name=".FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="HANDLE_REQUEST" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="HANDLE_NOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name=".StartActivity" />
        <activity
            android:name=".welcomeScreen.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".StartActivity" />
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".StatusActivity"
            android:parentActivityName=".SettingsActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".UsersActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ProfileActivity" />
        <activity
            android:name=".ChatActivity"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="835d54a4706563d782475ef15c5a5e0c62751415" />

        <activity
            android:name=".AccountNameActivity"
            android:parentActivityName=".SettingsActivity" />
        <activity android:name=".ChatListActivity" />
        <activity android:name=".MaterialProfileActivity" />
        <activity android:name=".MaterialSettingsActivity" />
        <activity
            android:name=".ChatOpenActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.harish.hk185080.chatterbox.MainActivity" />
        </activity>
        <activity
            android:name=".Request_Activity"
            android:parentActivityName=".MainActivity" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.harish.hk185080.chatterbox.MainActivity" />
        <activity
            android:name=".SettingsImageActivity"
            android:parentActivityName=".SettingsActivity" />
        <activity android:name=".ProfileImageActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".PrivacyPolicyActivity" />
        <activity
            android:name=".NewSettingsActivty"
            android:label="@string/title_activity_new_settings_activty"
            android:theme="@style/SettingsTheme" />
        <activity android:name=".SentRequestActivity" />
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".BlockedListActivity" />
        <activity android:name=".UploadImageActivity" />
        <activity android:name=".NotificationsActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".CreateGroupActivity" />
        <activity android:name=".PopularUsersActivity"></activity>
    </application>

</manifest>